.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

@media (max-width: 1200px) {
    .responsive-iframe {
        padding-top: 15%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 10%; /* Adjusted to 10% on the right */
    }
    
    .responsive-iframe iframe {
        width: 90%;
    }
}
